 <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="/images/Business1.jpg"></iframe>
</div> 
<div>
	<h2>About Student Information System</h2>
	<p>Student Information Systems. Student Information System (SIS) is a web-based application software designed to introduce a conducive and structured information exchange environment for integrating students, parents, teachers and the administration of a school or college.</p>
	<h5>Objectives</h5>
	<p>
		<ul>
			<li>
				Enable self-service for students to perform basic administrative functions and tasks in a one stop serive and access the environment.
			</li>
			<li>
				Integrate data sources and process them through a single function that supports one-time entry of student data.
			</li>
			<li>
				Support the retention and recruitment of students and encourage a strong and positive relationship with the university alumini, donors and other constituencies.
			</li>
			<li>
				Integrate and support new learning and teaching opportunities and technologies for students and faculty.
			</li>
		</ul>
	</p>
</div>