<form method="POST" action="/login">
	<label for='name'>Email</label>
	<input type="text" class="form-control loginUsername" name="username" value=""/>
	<label for='password'>Password:</label>
	<input type="password" class="form-control loginPassword" name="password" value="">

	<button class="col-md-offset-3 btn btn-primary col-md-5 btn-md submit" type="submit" value="Sumbit">Log in</button> 
		
</form>